.logo {
    width: 25%;
    padding: 15px 15px 15px 15px;
    display: inline-block;
}
.mobile {
  display: none;
}
body {
    font-family: Europa-bold, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #BFDAD9;
}
h1{
    font: 36pt sans-serif;
    font-weight: 700;
}
h2 {
    font: 24pt sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: #054159;
    width: 100%;
    align-items: center;
    margin: none;
    box-shadow: 3px 3px 4px #474747;
    position: fixed;
  }
  
  .topnav a {
    float: right;
    color: #FF96B9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .topnav a:hover {
    color: #F29F05;
  }
  
  .topnav a.active {
    color: #ABD7D5;
  }
  .topnav .icon {
    display: none;
  }
  .container {
    height: 100px;
  }
  .row {
      display: flex;
  }
  .column {
      flex: 50%;
  }

.column-3 {
  flex: 33%;
  padding: 1%;
}
.heroImg {
    width: 100%;
    box-shadow: 3px 3px 4px #474747;
    margin-top: 30px;
}
.copyright {
  font-size: small;
}
.image-container {
  background-image: url("/Images/changingwindsweb.jpg"); /* The image used - important! */
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
  box-shadow: 3px 3px 4px #474747;
}
.image-container2 {
  background-image: url("/Images/castleprintweb.jpg"); /* The image used - important! */
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
  box-shadow: 3px 3px 4px #474747;
  margin-bottom: 10px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 3px 3px 4px #474747;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 3px 8px 16px 0 #474747;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.text {
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}
.flip-card {
    background-color: transparent;
    width: 375px;
    height:250px;
    box-shadow: 3px 3px 4px #474747;

  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 250px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:white;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #054159;
    color: white;
    transform: rotateY(180deg);
    font-size: small;
    padding: 5px 5px 5px 5px;
  }
  section {
    padding: 5px 0 5px 0;
  }

footer {
    background-color: #5775A3;
    padding: 20px 20px 20px 20px;
    color: white;
    margin-top: 20px;
}
.card {
  height: 255px;
  background-color: #8FA5C7;
}
@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .logo{
    width: 40%;
    padding: none;
  }
  .card {
    height: 225px;
  }
  
  .flip {
    display: none;
  }
.container {
  height: 75px;
}
.column {
    flex: 100%;
}
.column-3 {
  flex: 100%;
  justify-content: center;
}
  .mobile {
    display: inline;
    margin-bottom: 10px;
  }
  .card-mobile {
    height: 750px;
    box-shadow: 3px 3px 4px #474747;
    transition: 0.3s;
    margin-top: 10px;
    background-color: #054159;
    color: white;
  }
  .row {
    display: inline;
  }
  .margin {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24pt;
  }
  h2 {
    font-size: 18pt;
  }
  .image-container {
    height: 200px;}
    .image-container2 {
      height: 200px;
  }
  .margin {
    margin-right: 25px;
    margin-left: 25px;
  }
  .card-mobile {
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@media screen and (max-width: 400px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .logo{
      padding: none;
    }
    p {
      font-size: small;
    }
    .image-container {
      height: 100px;
    }
    .image-container2 {
      height: 100px;
    }
    .card {
      height: 185px;
    }
    .container {
      height: 50px;
    }
    .flip-card {
      width: 300px;
      height: 200px;
      justify-self: center;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .copyright {
      font-size: xx-small;
    }

    .card-mobile {
      height: 400px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
}
}